<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    {% include 'emp/navbar.html'%}
    <h1 class="text-center my-3">Update Employee</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card bg-dark text-white">
            
            <form method="POST" action="">
              {% csrf_token %}
              <div class="mb-3">
                <label for="name" class="form-label">Employee Name</label>
                <input type="text" name="emp_name" class="form-control" id="name" value={{emp.name}}>
              </div>
              <div class="mb-3">
                <label for="emp_id" class="form-label">Employee id</label>
                <input type="text" name="emp_id" class="form-control" id="emp_id" value={{emp.emp_id}}>
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" name="emp_phone" class="form-control" id="phone" value={{emp.phone}}>
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <textarea name="emp_address" id="address" class="form-control" rows="6">{{emp.address}}</textarea>
              </div>
              <div class="mb-3 form-check">
                <label for="working" class="form-check-label">Working</label>
                <input {% if emp.working %} checked {% endif %} type="checkbox" name="emp_working" id="working" class="form-check-input">
              </div>
              <div class="mb-3">
                <label for="department" class="form-label">Department</label>
                <select value="{{emp.department}}" name="emp_department"  class="form-control">
                  <option value="CSE">Computer Science</option>
                  <option value="ME">Mechanical Engg</option>
                  <option value="EE">Electrical Engg</option>
                </select>
              </div><br>
              <button class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>