<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Tasks</title>
</head>
<body>

    <form method="POST" action="">
        {% csrf_token %}
        {{form.task}}
        <input type="submit" name="add_task">
    </form>

    <div>
        {% for task in tasks %}
            {% if task.completed == True %}
                <p><strike>{{task}}</strike></p>
            {% else %}
                <p>{{task}}</p>
            {% endif %}
                <a href="{% url 'update' task.id %}">Update</a>
                <a href="{% url 'delete' task.id %}">Delete</a>
        {% endfor %}
    </div>
    
</body>
</html>